[user]
	name = yutsuki miyashita
	email = yutsukimiya@gmail.com
[ghq]
    root = ~/dev/src
[commit]
  template = ~/.git_commit
[push]
  default = current
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[github]
	user = mytheta
[alias]
	push-f = push --force-with-lease
[pull] 
	rebase = true
[tig "bind"]
	diff = F ?!git commit --fixup %(commit)
	diff = S ?!git rebase -i --autosquash %(commit)
	main = F ?!git commit --fixup %(commit)
	main = S ?!git rebase -i --autosquash %(commit)

[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
