" --settings-------------------------------------------------------
set lazyredraw " fast
set clipboard=unnamed " macのクリップボードとyankを共有
set showmatch " 括弧移動
set matchtime=1 " 時間短縮
set autoread " 開いているがvim上で変更のないファイルについて、外部で変更があった時に自動的に読み込む
set enc=utf8 " utf8
set fenc=utf-8 " utf8にエンコード
set expandtab " tabをスペース2にし、スペースに変換
set shiftwidth=0
set tabstop=2
set hidden " 保存されていないファイルがあるときでも別のファイルを開くことが出来る
set history=100 " コマンドラインの履歴を100件保存する
set hlsearch " 検索文字列をハイライトする
set ignorecase " 大文字と小文字を区別しない
set incsearch " インクリメンタルサーチを行う
set isk+=- " ハイフンをiskeywordに含める
set ttyfast
set nobackup " 勝手に作るファイルを無効にする
set noswapfile
set showcmd " 入力中のコマンドを右下に表示する
set visualbell " ビープ音を消す
set wildmenu " ファイル名補完
set wildmode=full
set wrap " 画面の端で、行を折り返して表示してくれるようになる
set backspace=indent,eol,start " インサートモード中の BS、CTRL-W、CTRL-U による文字削除を柔軟にする
set laststatus=2 " ステータスラインを常に表示
set autoindent "改行時に前の行のインデントを継続する"
set binary noeol "file末尾の改行コード削除


let mapleader = " "
nmap <space> <Leader>

nnoremap / :action Find<CR>
nnoremap <Leader>r :action RenameElement<CR>
nnoremap <Leader>u :action ShowUsages<CR>

nnoremap <Esc><Esc> :nohlsearch<CR><ESC>

set easymotion
nmap <Leader>a <Plug>(easymotion-bd-f2)
xmap <Leader>a <Plug>(easymotion-bd-f2)
omap <Leader>a <Plug>(easymotion-bd-f2)
nnoremap <Leader>f :<C-u>action GotoFile<CR>
